 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 230px;
}

.u-section-1 .u-image-1 {
  width: 113px;
  height: 115px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 93px auto 22px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 114px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 236px;
  }

  .u-section-1 .u-image-1 {
    margin-bottom: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 222px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 82px;
    margin-bottom: 26px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 201px;
  }

  .u-section-1 .u-image-1 {
    width: 72px;
    height: 73px;
    margin-top: 98px;
    margin-bottom: 30px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1084px;
}

.u-section-2 .u-shape-1 {
  width: 427px;
  height: 653px;
  margin: 70px 0 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 900;
  margin: -653px 536px 0 0;
}

.u-section-2 .u-gallery-1 {
  height: 500px;
  width: 853px;
  grid-gap: 10px;
  margin: 73px auto 0 0;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-2 .u-back-image-1 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-back-image-2 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-back-image-3 {
  object-position: 50% 37.75%;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-back-image-4 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-back-image-5 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-back-image-6 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-text-2 {
  margin: 27px 575px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 22px 955px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  width: 107px;
  margin: 21px auto 60px 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    width: 352px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 379px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 379px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 755px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1466px;
  }

  .u-section-2 .u-shape-1 {
    height: 935px;
    margin-top: 158px;
    margin-right: -33px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.4375rem;
    margin-top: -1066px;
    margin-right: 317px;
  }

  .u-section-2 .u-gallery-1 {
    height: 963px;
    width: 671px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-2 .u-text-3 {
    margin-right: 451px;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3593px;
  }

  .u-section-2 .u-shape-1 {
    height: 855px;
    margin-top: 267px;
    margin-right: -26px;
  }

  .u-section-2 .u-text-1 {
    font-size: 4.5rem;
    margin-top: -1107px;
    margin-right: 0;
  }

  .u-section-2 .u-gallery-1 {
    height: 3101px;
    width: 473px;
    grid-gap: 10px 10px;
    margin-top: 67px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-2 .u-text-2 {
    margin-right: 80px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 201px;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 26px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2125px;
  }

  .u-section-2 .u-shape-1 {
    height: 472px;
    width: 262px;
    margin-top: 365px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-top: -779px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1626px;
    width: 271px;
    margin-top: 40px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: 260px;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 15px;
    margin-right: 26px;
    margin-left: 43px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 31px;
    margin-left: auto;
    margin-bottom: 41px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 692px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 572px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 23px;
  font-size: 3rem;
  font-weight: 700;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  margin: 31px auto 0 0;
  padding: 14px 175px 15px 173px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 572px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 512px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 629px;
  }

  .u-section-3 .u-btn-1 {
    padding-top: 13px;
    padding-right: 140px;
    padding-left: 138px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 532px;
  }

  .u-section-3 .u-image-1 {
    height: 472px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 13px;
    margin-bottom: 13px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 587px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    padding-right: 97px;
    padding-left: 96px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 493px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 28px;
  }

  .u-section-3 .u-image-1 {
    height: 435px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1150px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 369px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 1px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: auto;
    padding: 14px 222px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 723px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-3 .u-image-1 {
    height: 562px;
    width: 520px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 391px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-right: 9px;
    margin-left: 10px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
    padding-right: 128px;
    padding-left: 127px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 385px;
  }

  .u-section-3 .u-image-1 {
    height: 310px;
    width: 310px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 444px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: -51px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 287px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 287px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 2.25rem;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 324px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-list-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 10px));
  min-height: 324px;
  grid-gap: 20px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  color: rgb(255, 102, 0) !important;
  margin: 24px auto 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 10px;
}

.u-section-4 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 24px auto 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-6 {
  padding: 10px;
}

.u-section-4 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 24px auto 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
}

.u-section-4 .u-container-layout-7 {
  padding: 10px;
}

.u-section-4 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 24px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 237px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 237px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 267px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 268px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 205px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 461px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 784px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 166px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 290px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 347px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 287px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.5rem;
}

.u-section-5 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 287px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 30px 23px;
}

.u-section-5 .u-text-3 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 0 98px 0 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  margin: 0;
}

.u-section-5 .u-repeater-1 {
  grid-gap: 0px 0px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 296px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 237px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 237px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 48px;
  }

  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 255px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 185px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 185px;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 21px 0;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.875rem;
    width: auto;
    margin-right: auto;
    margin-left: -12px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 448px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 159px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 396px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 158px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 178px;
  }
} .u-section-6 {
  background-image: none;
  min-height: 525px;
}

.u-section-6 .u-gallery-1 {
  height: 462px;
  margin-top: 77px;
  margin-bottom: 0;
  grid-gap: 17px 17px;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 0px;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(255,112,0,1), rgba(255,112,0,1));
  padding: 20px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(255,112,0,1), rgba(255,112,0,1));
  padding: 20px;
}

.u-section-6 .u-back-image-3 {
  object-position: 50% 50%;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(255,112,0,1), rgba(255,112,0,1));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 456px;
  }

  .u-section-6 .u-gallery-1 {
    margin-bottom: 33px;
    height: 346px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 2013px;
  }

  .u-section-6 .u-gallery-1 {
    margin-top: 52px;
    height: 1961px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: auto;
    grid-gap: 0px 0px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 1481px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1480px;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 944px;
  }

  .u-section-6 .u-gallery-1 {
    height: 944px;
  }
} .u-section-7 {
  background-image: none;
  min-height: 448px;
}

.u-section-7 .u-gallery-1 {
  height: 462px;
  grid-gap: 17px 17px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 0px;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(255,112,0,1), rgba(255,112,0,1));
  padding: 20px;
}

.u-section-7 .u-back-image-2 {
  object-position: 50% 27.88%;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(255,112,0,1), rgba(255,112,0,1));
  padding: 20px;
}

.u-section-7 .u-back-image-3 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(255,112,0,1), rgba(255,112,0,1));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 313px;
  }

  .u-section-7 .u-gallery-1 {
    margin-top: -33px;
    height: 346px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 2013px;
  }

  .u-section-7 .u-gallery-1 {
    height: 2013px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: auto;
    grid-gap: 0px 0px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 1519px;
  }

  .u-section-7 .u-gallery-1 {
    height: 1518px;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-7 .u-back-image-2 {
    object-position: 50% 55.22%;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 969px;
  }

  .u-section-7 .u-gallery-1 {
    height: 968px;
  }
} .u-section-8 {
  background-image: none;
  min-height: 445px;
}

.u-section-8 .u-gallery-1 {
  height: 462px;
  grid-gap: 17px 17px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-8 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 0px;
}

.u-section-8 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(255,112,0,1), rgba(255,112,0,1));
  padding: 20px;
}

.u-section-8 .u-back-image-2 {
  object-position: 50% 76.31%;
}

.u-section-8 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(255,112,0,1), rgba(255,112,0,1));
  padding: 20px;
}

.u-section-8 .u-back-image-3 {
  object-position: 50% 73.17%;
}

.u-section-8 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(255,112,0,1), rgba(255,112,0,1));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 346px;
  }

  .u-section-8 .u-gallery-1 {
    height: 346px;
    margin-top: 0;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 1974px;
  }

  .u-section-8 .u-gallery-1 {
    height: 1974px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: auto;
    grid-gap: 0px 0px;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 1489px;
  }

  .u-section-8 .u-gallery-1 {
    height: 1489px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 949px;
  }

  .u-section-8 .u-gallery-1 {
    height: 950px;
  }

  .u-section-8 .u-back-image-3 {
    object-position: 50% 74.94%;
  }
} .u-section-9 {
  background-image: none;
  min-height: 417px;
}

.u-section-9 .u-gallery-1 {
  height: 462px;
  grid-gap: 17px 17px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 0px;
}

.u-section-9 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(255,112,0,1), rgba(255,112,0,1));
  padding: 20px;
}

.u-section-9 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(255,112,0,1), rgba(255,112,0,1));
  padding: 20px;
}

.u-section-9 .u-back-image-3 {
  object-position: 50% 50%;
}

.u-section-9 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(255,112,0,1), rgba(255,112,0,1));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-9 {
    min-height: 346px;
  }

  .u-section-9 .u-gallery-1 {
    height: 346px;
  }
}

@media (max-width: 991px) {
   .u-section-9 {
    min-height: 2030px;
  }

  .u-section-9 .u-gallery-1 {
    height: 2030px;
  }

  .u-section-9 .u-gallery-inner-1 {
    grid-template-columns: auto;
    grid-gap: 0px 0px;
  }
}

@media (max-width: 767px) {
   .u-section-9 {
    min-height: 1532px;
  }

  .u-section-9 .u-gallery-1 {
    height: 1531px;
  }

  .u-section-9 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-9 {
    min-height: 978px;
  }

  .u-section-9 .u-gallery-1 {
    height: 977px;
  }
} .u-section-10 {
  background-image: none;
  min-height: 463px;
}

.u-section-10 .u-gallery-1 {
  height: 462px;
  grid-gap: 17px 17px;
  margin-top: 0;
  margin-bottom: 1px;
}

.u-section-10 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 0px;
}

.u-section-10 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(255,112,0,1), rgba(255,112,0,1));
  padding: 20px;
}

.u-section-10 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(255,112,0,1), rgba(255,112,0,1));
  padding: 20px;
}

.u-section-10 .u-back-image-3 {
  object-position: 50% 50%;
}

.u-section-10 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(255,112,0,1), rgba(255,112,0,1));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-10 {
    min-height: 346px;
  }

  .u-section-10 .u-gallery-1 {
    height: 346px;
  }
}

@media (max-width: 991px) {
   .u-section-10 {
    min-height: 2384px;
  }

  .u-section-10 .u-gallery-1 {
    height: 2384px;
  }

  .u-section-10 .u-gallery-inner-1 {
    grid-template-columns: auto;
    grid-gap: 0px 0px;
  }
}

@media (max-width: 767px) {
   .u-section-10 {
    min-height: 1871px;
  }

  .u-section-10 .u-gallery-1 {
    height: 1797px;
  }

  .u-section-10 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-10 {
    min-height: 1189px;
  }

  .u-section-10 .u-gallery-1 {
    height: 1144px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 587px;
}

.u-section-11 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 322px;
  margin: 60px auto 0;
}

.u-section-11 .u-text-2 {
  line-height: 2;
  font-size: 1.25rem;
  margin: 28px 0 0;
}

.u-section-11 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 58px;
  margin-bottom: 60px;
}

.u-section-11 .u-repeater-1 {
  grid-template-columns: repeat(4, 25%);
  grid-gap: 0px;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-11 .u-image-1 {
  height: 54px;
  width: 179px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-11 .u-image-2 {
  height: 54px;
  width: 179px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-11 .u-container-layout-3 {
  padding: 30px 40px;
}

.u-section-11 .u-image-3 {
  height: 54px;
  width: 179px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-11 .u-container-layout-4 {
  padding: 30px 40px;
}

.u-section-11 .u-image-4 {
  height: 54px;
  width: 179px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-11 .u-container-layout-5 {
  padding: 30px 40px;
}

.u-section-11 .u-image-5 {
  height: 54px;
  width: 179px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-11 .u-container-layout-6 {
  padding: 30px 40px;
}

.u-section-11 .u-image-6 {
  height: 54px;
  width: 179px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-11 .u-container-layout-7 {
  padding: 30px 40px;
}

.u-section-11 .u-image-7 {
  height: 54px;
  width: 179px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-11 .u-container-layout-8 {
  padding: 30px 40px;
}

.u-section-11 .u-image-8 {
  height: 54px;
  width: 179px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-11 .u-image-1 {
    height: 43px;
    width: 143px;
    margin-top: 4px;
  }

  .u-section-11 .u-image-2 {
    height: 43px;
    width: 143px;
    margin-top: 4px;
  }

  .u-section-11 .u-image-3 {
    height: 43px;
    width: 143px;
    margin-top: 4px;
  }

  .u-section-11 .u-image-4 {
    height: 43px;
    width: 143px;
    margin-top: 4px;
  }

  .u-section-11 .u-image-5 {
    height: 43px;
    width: 143px;
    margin-top: 4px;
  }

  .u-section-11 .u-image-6 {
    height: 43px;
    width: 143px;
    margin-top: 4px;
  }

  .u-section-11 .u-image-7 {
    height: 43px;
    width: 143px;
    margin-top: 4px;
  }

  .u-section-11 .u-image-8 {
    height: 43px;
    width: 143px;
    margin-top: 4px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-11 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.3333%);
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-image-1 {
    margin-top: 0;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-image-2 {
    margin-top: 0;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-image-3 {
    margin-top: 0;
  }

  .u-section-11 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-image-4 {
    margin-top: 0;
  }

  .u-section-11 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-image-5 {
    margin-top: 0;
  }

  .u-section-11 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-image-6 {
    margin-top: 0;
  }

  .u-section-11 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-image-7 {
    margin-top: 0;
  }

  .u-section-11 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-image-8 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-11 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1039px;
  }

  .u-section-11 .u-text-1 {
    width: auto;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-11 .u-text-2 {
    width: auto;
  }

  .u-section-11 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 448px;
    grid-gap: 0px 0px;
  }

  .u-section-11 .u-image-1 {
    height: 136px;
    width: 116px;
    margin-left: 14px;
  }

  .u-section-11 .u-image-2 {
    height: 136px;
    width: 116px;
    margin-left: 14px;
  }

  .u-section-11 .u-image-3 {
    height: 136px;
    width: 116px;
    margin-left: 14px;
  }

  .u-section-11 .u-image-4 {
    height: 136px;
    width: 116px;
    margin-left: 14px;
  }

  .u-section-11 .u-image-5 {
    height: 136px;
    width: 116px;
    margin-left: 14px;
  }

  .u-section-11 .u-image-6 {
    height: 136px;
    width: 116px;
    margin-left: 14px;
  }

  .u-section-11 .u-image-7 {
    height: 136px;
    width: 116px;
    margin-left: 14px;
  }

  .u-section-11 .u-image-8 {
    height: 136px;
    width: 116px;
    margin-left: 14px;
  }
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 645px;
}

.u-section-12 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-12 .u-layout-cell-1 {
  min-height: 243px;
}

.u-section-12 .u-container-layout-1 {
  padding: 30px 0 30px 30px;
}

.u-section-12 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 2.25rem;
  font-weight: 400;
}

.u-section-12 .u-text-2 {
  font-size: 1.125rem;
  margin: 19px auto 0 0;
}

.u-section-12 .u-layout-cell-2 {
  min-height: 243px;
}

.u-section-12 .u-container-layout-2 {
  padding: 30px 0 30px 30px;
}

.u-section-12 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: 1px 0 0;
  padding: 19px 128px 20px 127px;
}

.u-section-12 .u-layout-cell-3 {
  min-height: 343px;
}

.u-section-12 .u-container-layout-3 {
  padding: 30px;
}

.u-section-12 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.5rem;
}

.u-section-12 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 50px 0 0;
}

.u-section-12 .u-layout-cell-4 {
  min-height: 343px;
}

.u-section-12 .u-container-layout-4 {
  padding: 7px 0;
}

.u-section-12 .u-btn-2 {
  border-style: solid;
  font-size: 1.5rem;
  background-image: none;
  margin: 0 0 0 auto;
  padding: 9px 110px 11px 109px;
}

.u-section-12 .u-icon-1 {
  font-size: 1.2em;
}

.u-section-12 .u-btn-3 {
  background-image: none;
  margin: 19px 0 0 auto;
  padding: 10px 180px;
}

.u-section-12 .u-btn-4 {
  background-image: none;
  margin: 19px 1px 0 auto;
  padding: 10px 174px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-12 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 200px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 200px;
  }

  .u-section-12 .u-btn-1 {
    margin-top: 11px;
    margin-left: auto;
  }

  .u-section-12 .u-layout-cell-3 {
    min-height: 283px;
  }

  .u-section-12 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-12 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-12 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-12 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 196px;
  }

  .u-section-12 .u-btn-1 {
    margin-top: 1px;
    margin-left: 0;
    padding-right: 70px;
    padding-left: 70px;
  }

  .u-section-12 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-12 .u-layout-cell-4 {
    min-height: 258px;
  }

  .u-section-12 .u-btn-2 {
    padding: 10px 53px 10px 52px;
  }

  .u-section-12 .u-btn-3 {
    padding: 9px 124px 11px 123px;
  }

  .u-section-12 .u-btn-4 {
    padding-right: 118px;
    padding-left: 117px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-12 .u-layout-wrap-1 {
    width: 382px;
    margin: 0 auto 40px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 202px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 150px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-12 .u-btn-1 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 16px;
  }

  .u-section-12 .u-layout-cell-3 {
    min-height: 238px;
  }

  .u-section-12 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-layout-cell-4 {
    min-height: 200px;
  }

  .u-section-12 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-12 .u-btn-2 {
    margin-top: 1px;
    margin-right: auto;
  }

  .u-section-12 .u-btn-3 {
    margin-top: 18px;
    margin-right: auto;
    padding-right: 123px;
    padding-left: 122px;
  }

  .u-section-12 .u-btn-4 {
    margin-top: 18px;
    margin-right: auto;
    padding-left: 118px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-12 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 196px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 124px;
  }

  .u-section-12 .u-container-layout-2 {
    padding: 21px 5px;
  }

  .u-section-12 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-layout-cell-3 {
    min-height: 222px;
  }

  .u-section-12 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-12 .u-text-3 {
    width: auto;
    margin-right: 140px;
    margin-left: 10px;
  }

  .u-section-12 .u-text-4 {
    font-size: 1.25rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-12 .u-layout-cell-4 {
    min-height: 242px;
  }

  .u-section-12 .u-container-layout-4 {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .u-section-12 .u-btn-3 {
    margin-left: 0;
    padding-right: 128px;
    padding-left: 127px;
  }

  .u-section-12 .u-btn-4 {
    margin-left: 0;
    padding-left: 122px;
    padding-right: 122px;
  }
} .u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 501px;
}

.u-section-13 .u-text-1 {
  font-weight: 700;
  margin: 59px auto 0;
}

.u-section-13 .u-form-1 {
  width: 570px;
  margin: 29px auto 59px;
}

.u-section-13 .u-btn-1 {
  background-image: none;
  width: 100%;
  padding: 9px 0 11px;
}

@media (max-width: 767px) {
  .u-section-13 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-13 .u-form-1 {
    width: 340px;
    margin-bottom: 60px;
  }
}